
<header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">
  <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger md-hide lg-hide pr2  ">
    ☰
  </div>
  <amp-img src="../../../assets/musically logo@2x.png" media="(min-width: 416px)" width="180" height="35" layout="fixed" alt="Example logo image"></amp-img>
  <amp-img src="../../../assets/logo.png" media="(max-width: 416px)" width="30" height="30" layout="fixed" alt="Example logo image"></amp-img>
  <nav class="ampstart-headerbar-nav ampstart-nav xs-hide sm-hide">
    <ul class="list-reset center m0 p0 flex justify-center nowrap">
      <li class="ampstart-nav-item relative">
        <a href="#home" class="text-decoration-none block">Home</a>
      </li>
      <li class="ampstart-nav-item ">
        <a href="#about" class="text-decoration-none block">About</a>
      </li>
      <li class="ampstart-nav-item relative">
        <a href="#winner" class="text-decoration-none block">Winner</a>
      </li>
      <li class="ampstart-nav-item ">
        <a href="#media" class="text-decoration-none block">Media</a>
      </li>
      <li class="ampstart-nav-item ">
        <a href="#youcanmeet" class="text-decoration-none block">You Can meet</a>
      </li>
      <li class="ampstart-nav-item ">
        <a href="#parter" class="text-decoration-none block">Parters</a>
      </li>
    </ul>
  </nav>
</header>
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3" layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
  </div>
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <https://github.com/Liaohuanle/Node-AMP-web.git class="list-reset center m0 p0 flex justify-center nowrap">
      <li class="ampstart-nav-item relative">
        <a href="#home" class="text-decoration-none block">Home</a>
      </li>
      <li class="ampstart-nav-item ">
        <a href="#about" class="text-decoration-none block">About</a>
      </li>
      <li class="ampstart-nav-item relative">
        <a href="#winner" class="text-decoration-none block">Winner</a>
      </li>
      <li class="ampstart-nav-item ">
        <a href="#media" class="text-decoration-none block">Media</a>
      </li>
      <li class="ampstart-nav-item ">
        <a href="#youcanmeet" class="text-decoration-none block">You Can meet</a>
      </li>
      <li class="ampstart-nav-item ">
        <a href="#parter" class="text-decoration-none block">Parters</a>
      </li>
    </ul>
  </nav>
</amp-sidebar>